@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-bg text-brand-dark dark:bg-brand-dark-bg dark:text-brand-dark-text transition-colors duration-300;
    font-family: 'Merriweather', serif;
    background-image: radial-gradient(#8B7355 0.5px, transparent 0.5px);
    background-size: 20px 20px;
  }
  .dark body {
    background-image: radial-gradient(#ffffff 0.5px, transparent 0.5px);
  }
}